html {
  position: relative;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
  font-family: "nunito-v26-cyrillic",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  color: $dark;
  /*цвет под ваш проект*/
  background-color: $light;
  /*цвет под ваш проект*/
  // background-image: url(../img/sprite.svg#fire);
  // background-position: center top 50%;
  // background-repeat: no-repeat;
  // background-size: cover;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}

button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.container {
  --offset-container: 14px;

  @media (width >=620px) {
    --offset-container: 40px;
  }

  @media (width >=860px) {}

  @media (width >=1140px) {
    --offset-container: 40px;
  }

  max-width: calc(1300px + var(--offset-container) * 2);
  padding: 0 var(--offset-container);
  margin: 0 auto;

  @media (width >=620px) {}
}