.toppings {
  padding-top: 24px;
  padding-bottom: 24px;

  @media (width >=620px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__container {}

  &__title {
    position: fixed;
    transform: scale(0);

    @media (width >=860px) {
      position: static;
      transform: none;
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  &__button {
    font-weight: 600;
    font-size: 18px;
    display: flex;
    gap: 4px;
    align-items: center;

    &_active .toppings__arrow {
      transform: scaleY(-1);
    }

    @media (width >=620px) {
      font-size: 24px;
    }

    @media (width >=860px) {
      display: none;
    }
  }

  &__arrow {
    transition: transform 0.36s;
  }

  &__list {
    display: none;
    padding-top: 16px;
    flex-wrap: wrap;
    gap: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.36s;

    &_show {
      display: flex;
      transition: max-height 0.36s;
    }

    @media (width >=860px) {
      display: flex;
      max-height: none;
    }
  }

  &__item {}

  &__label {
    cursor: pointer;
    display: block;
    background: $white;
    border-radius: 32px;
    padding: 8px 24px;
    font-size: 14px;
    color: $beige;
    border: 1px solid transparent;

    @media (width >=620px) {
      font-size: 20px;
    }
  }

  &__checkbox {
    position: absolute;
    appearance: none;

    &:focus-visible+.toppings__label {
      background-color: $white;
      color: $orange;
      border: 1px solid #b66200;
    }

    &:checked+.toppings__label {
      background-color: $orange;
      color: $light;
    }
  }

}